Documento6.dtd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE aviso [
<!ELEMENT aviso (titulo?, (parrafo+, grafico)*)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT parrafo (#PCDATA)>
<!ELEMENT grafico (#PCDATA)>
]>
<aviso>
<titulo>...</titulo>
<parrafo>...</parrafo>
<grafico>...</grafico>
<parrafo>...</parrafo>
<grafico>...</grafico>
</aviso>
