Ejercicio 1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE receta[
<!ELEMENT receta ANY>
<!ELEMENT titulo (#PCDATA)> 
<!ELEMENT ingredientes (#PCDATA)>
<!ELEMENT procedimiento (#PCDATA) >
]>


<receta>Primera receta
<titulo></titulo>
<ingredientes></ingredientes>
<procedimiento></procedimiento>
</receta>

